@import "./lib/reset.scss";
@import "./lib/fonts.scss";
@import "./lib/template.scss";
@import "./lib/slider.scss";

body{
    background-color: $Mainbackground;
    color: $mainColor;
    overflow-x: hidden;
}
//Sldier ----------------------------------------

.Main__slider
{
    div >p:first-child{
        font-size:1.25em ;
    }
    div>p:nth-child(2){
        font-size:3em ;
    }
    min-height: 100vh;
    h2{
        @extend %hidden;
    }
    input {
        @extend %hidden;
    }
    label{
        cursor: pointer;
        padding: 0 1vw;
        border-left: solid $Gray 2px;
    }
    div label:nth-child(4){
        padding: 0 1vw 0 0;
        border: none;
    }
    
}
.slider__Container{
    position: absolute;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    left:0vw;
    display: block;
    width: 50vw;
    padding: 30vh 10vw 0 10vw;
    transform: scale(1,1);
    transition: 2s;
    table{
        display: block;
    }
    thead{
        @extend %hidden;
    }
    tbody{
        display: block;
    }
    tr{
        display: grid;
        grid-template-columns: 1fr 1fr;
        th{
            padding: 2vh 0 2vh 0;
            font-size: 0.875em;
        }
        th:first-child{
            padding: 2vh 0 1vh 0;
            font-size: 0.875em;
        }
        th:first-child{
            justify-self: start;
        }
        th:last-child{
            justify-self: end;
        }
        border-bottom: $Gray solid 1px;
    }
}
.Slider__percent{
    color: $Gray;
    
}
.SliderArticle__Title--hidden{
    @extend %hidden;
}


.canvas {
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}


//JS SLIDER _________________________________________________

.Container--Before{
    left:100vw;
    transform: scale(0,1);
}
.Container--after{
    transform: scale(0,1);
    left:-100vw;
}
.SliderLeft, .SliderRight{
    z-index: 2;
    cursor: pointer;
    width: 5vw;
    position: absolute;
    bottom: 3vh;
}
.SliderLeft, .SliderRight{
    width: 3vw;
    position: absolute;
}
.SliderLeft{
    left:3vw;
}
.SliderRight{
    right:3vw;
}

.slider__Buttons{
    position: absolute;
    width:1vw;
    bottom: 3vh;
    width: 50vw;
    right: 25vw;
    text-align: center;
    display: inline-block;
    div{
        cursor: pointer;
        display: inline-block;
        width: 0.75vw;
        margin: 0 1vw;
        transition-duration: 1s;
    }
    .button--Active{
        width: 1vw;
        transition-duration: 1s;
    }
    div:hover{
        width: 1.2vw;
        transition-duration: 1s;
    }

}